.input {
  border: none;
  width: 50%;
  padding: 12px 24px;
  font-size: 16px;
  flex-grow: 1;
  border-radius: 30px 0 0 30px;
  background-color: #1a1a1a;
  color: #d3d3d3;
  outline: none;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.input::placeholder {
  color: #a9a9a9;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.input:focus {
  border: 0.5px solid #f8f8f8;
}

.input:hover {
  background-color: #333333;
}

.input:disabled {
  background-color: #555555;
  color: #888888;
  cursor: not-allowed;
}
